# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
mykey.pem

.bash_history
.bash_logout
.bashrc
.cache/
.lesshst
.npm/
.nvm/
.pm2/
.profile
.ssh/
.sudo_as_admin_successful
